body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

h2 {
  margin: 0;
  color: #333;
}

p {
  line-height: 1.6em;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #333;
  border-bottom: 2px dotted #333;
}

a:hover {
  /* color: #0074d9; */
  border-bottom-color: transparent;
}

.inside {
  margin: 0 5%;
}

.inside img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
}

.quran {
  font-size: 19px;
}
